/*------------------------------------*\
    ::Font
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700');

/*------------------------------------*\
    ::Variables
\*------------------------------------*/
$color-lgray: #eeeeee;
$color-dgray: #1a1a1a;
$color-dblue: #000035;

/*------------------------------------*\
    ::Base
\*------------------------------------*/
*, *:before, *:after {
    box-sizing: border-box;
}
html {
	font-family: 'Roboto', sans-serif;
}
body {
	margin: 0;
	padding: 0;
    color: $color-dblue;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: .02em;
}
img {
	max-width: 100%;
	height: auto;
}

/*------------------------------------*\
    ::Headings
\*------------------------------------*/
%all-headings {
    font-weight: 400;
    color: $color-dblue;
    margin: 0.25em 0;
}
%h1 {
    @extend %all-headings;
    font-weight: 400;
    line-height: 1;
    font-size: 60px;
    letter-spacing: -1px;
    margin-bottom: 0.2em;
}
%h2 {
    @extend %all-headings;
    font-size: 24px;
    margin-top: 0;
}
%h3 {
    @extend %all-headings;
    font-size: 19px;
}
// implementation
h1{@extend %h1;}
h2{@extend %h2;}
h3{@extend %h3;}

/*------------------------------------*\
    ::Main
\*------------------------------------*/
.main{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 700px;
	margin: auto;
	&__wrap{
		margin-top: 5em;
	}
}

/*------------------------------------*\
    ::Contact Links
\*------------------------------------*/
.contact-links{
	margin: 2em 0;
	padding: 0;
	list-style: none;
	li{
		display: inline-block;
	}
	a{
		display: block;
		width: 50px;
		height: 50px;
		margin: 0 10px;
		border-radius: 50%;
		border: 3px solid $color-dblue;
		padding: 8px;
		transition: border-color 400ms;
		&:hover{
			border-color: #45a247;
			svg{
				fill: #45a247;
			}
		}
		@media only screen and (max-width: 500px) {
			margin: 0 20px;
		}
	}
	span{
		display: block;
		text-indent: -9999px;
	}
	svg{
		fill: $color-dblue;
		width: 100%;
		height: 100%;
		transition: 400ms;
	}
}

/*------------------------------------*\
    ::Work sites
\*------------------------------------*/
.work-sites{
	display: flex;
	flex-wrap: wrap;
	margin: 5em 0;
	&__site{
		position: relative;
		width: calc(49% - 21px);
		margin: 10px;
		overflow: hidden;
		cursor: pointer;
		box-shadow: 0px 0px 23px -10px black;
		span{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 100;
			padding: 15px;
			opacity: 0;
			color: white;
			transition: 300ms;
		}
		&:hover{
			a{
				transform: scale(1.14);
			}
			span{
				opacity: 1;
			}
			&:before{
				opacity: 1;
			}
		}
		@media only screen and (max-width: 500px) {
			width: 100%;
		}
		&:before{
			content: '';
			position: absolute;
			z-index: 50;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(black, 0.7);
			opacity: 0;
			transition: 300ms;
		}
	}
	a{
		display: block;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		transition: 300ms;
		&:before {
			content: "";
			float: left;
			padding-bottom: 50%;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
}