/*------------------------------------*    ::Font
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700");
/*------------------------------------*    ::Variables
\*------------------------------------*/
/*------------------------------------*    ::Breakpoints
\*------------------------------------*/
/*------------------------------------*    ::Base
\*------------------------------------*/
*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0;
  padding: 0;
  color: #2F2F2F;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: .02em; }

a {
  text-decoration: none;
  color: #2F2F2F; }

img {
  max-width: 100%;
  height: auto; }

svg {
  width: 100px;
  height: 100px; }

/*------------------------------------*    ::Headings
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

/*implement:*/
/*implement:*/
/*------------------------------------*    ::Main
\*------------------------------------*/
[class*=__inner] {
  max-width: 1140px;
  margin: auto;
  padding: 0.9375rem; }

[class*=__title] {
  margin-top: 2em;
  font-weight: bold;
  color: #31634A; }

/*------------------------------------*    ::Header
\*------------------------------------*/
.main-head {
  position: relative;
  z-index: 10; }
  .main-head__intro {
    position: relative;
    overflow: hidden;
    background-color: #449363;
    color: white; }
    .main-head__intro:before {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      left: 58%;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 42%;
      background-color: #31634A; }
    .main-head__intro:after {
      content: 'corinne';
      position: absolute;
      z-index: 15;
      left: 0;
      right: 0;
      bottom: -300px;
      font-weight: bold;
      color: #34704c;
      opacity: 0.5;
      font-size: 50vw; }
  .main-head__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; }
  .main-head__inner {
    position: relative;
    z-index: 20; }
  .main-head__nav {
    position: relative;
    z-index: 40;
    max-width: 1140px;
    margin: auto;
    padding: 0.9375rem; }
    .main-head__nav a {
      position: relative;
      display: inline-block;
      margin: 0.46875rem;
      padding: 0.46875rem;
      color: white; }
      .main-head__nav a:first-child {
        margin-left: 0;
        padding-left: 0; }
      .main-head__nav a:before, .main-head__nav a:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 0px;
        background-color: white;
        transition: 250ms; }
      .main-head__nav a:before {
        top: 0;
        left: 0; }
      .main-head__nav a:after {
        bottom: 0;
        right: 0; }
      .main-head__nav a:hover:before, .main-head__nav a:hover:after {
        width: 100%; }
  .main-head__text {
    width: 50%;
    margin: 11em 0 6em; }
    .main-head__text h2 {
      font-weight: normal; }
    .main-head__text h3 {
      font-weight: normal; }
  @media only screen and (min-width: 800px) {
    .main-head {
      /*------------------------------------*		    ::Nav in the Header - Sticky
		\*------------------------------------*/ }
      .main-head__menu.sticky {
        position: fixed;
        z-index: -1;
        width: 100%;
        background-color: #449363; } }
  @media only screen and (max-width: 800px) {
    .main-head {
      /*------------------------------------*		    ::Nav in the Header - Tablet
		\*------------------------------------*/
      /*------------------------------------*		    ::Nav in the Header - Trigger
		\*------------------------------------*/ }
      .main-head:after {
        bottom: -200px; }
      .main-head__text {
        width: 90%;
        margin: 6em 0 3em; }
      .main-head__menu {
        position: fixed;
        z-index: 100;
        width: 100%;
        box-shadow: 0px 0px 24px -10px black;
        background-color: white; }
      .main-head__nav {
        overflow-y: scroll;
        overflow-x: hidden;
        position: fixed;
        z-index: 200;
        top: 53px;
        right: 0;
        left: 0;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
        bottom: 0;
        background-color: rgba(68, 147, 99, 0.9);
        transition: 300ms;
        padding-top: 2em; }
        .main-head__nav a {
          display: block;
          margin: 0.5em 0;
          padding: 0.5em;
          width: 60%;
          font-size: 130%; }
          .main-head__nav a:first-child {
            padding: 0.5em; }
          .main-head__nav a:before, .main-head__nav a:after {
            transition: 400ms; }
      .main-head__trigger {
        display: inline-block;
        position: relative;
        height: 3em;
        margin-left: auto;
        padding: 1.5em 1.8em;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                    -ms-grid-row-align: center;
                align-self: center;
        /*------------------------------------*	            ::When Triggered
	        \*------------------------------------*/ }
        .main-head__trigger span {
          position: absolute;
          z-index: 300;
          top: 16px;
          right: 5px;
          display: block;
          width: 42px;
          height: 4px;
          margin-top: -2px;
          border-radius: 2px;
          background-color: #449363;
          transition: background-color 0s 0.15s linear; }
          .main-head__trigger span:before, .main-head__trigger span:after {
            position: absolute;
            width: 42px;
            height: 4px;
            border-radius: 2px;
            background-color: #449363;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
            transition-duration: 0.15s;
            transition-timing-function: ease; }
          .main-head__trigger span:before, .main-head__trigger span:after {
            content: "";
            display: block; }
          .main-head__trigger span:before {
            top: 10px;
            transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
          .main-head__trigger span:after {
            top: 20px;
            transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
        .main-head__trigger.active span {
          transition-delay: 0.32s;
          background-color: transparent; }
          .main-head__trigger.active span:before {
            top: 0;
            transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
            -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
                    transform: translate3d(0, 10px, 0) rotate(45deg); }
          .main-head__trigger.active span:after {
            top: 0;
            transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
            -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
                    transform: translate3d(0, 10px, 0) rotate(-45deg); }
        .main-head__trigger.active + .main-head__nav {
          -webkit-transform: translateX(0);
                  transform: translateX(0); } }
  @media only screen and (max-width: 520px) {
    .main-head:after {
      bottom: -100px; } }

/*------------------------------------*    ::skills
\*------------------------------------*/
.skills__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.skills__col {
  width: 49.89%; }

@media only screen and (max-width: 800px) {
  .skills__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .skills__col {
    width: 100%; } }

/*------------------------------------*    ::portfolio/experience
\*------------------------------------*/
.portfolio__single {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
  padding: 0.9375rem 0 1.875rem;
  border-bottom: 1px solid rgba(47, 47, 47, 0.18); }
  .portfolio__single h3 {
    margin: 0;
    font-weight: 400; }
  .portfolio__single p {
    margin: 0.75em 0; }

.portfolio__job {
  width: 25%;
  padding-right: 20px; }
  .portfolio__job span {
    display: block;
    font-size: 90%;
    font-style: italic; }

.portfolio__description {
  width: 70%;
  margin-left: auto;
  margin-right: 50px; }
  .portfolio__description h3 {
    margin-top: 1.5em; }
    .portfolio__description h3:first-of-type {
      margin-top: 0; }

.portfolio__example a {
  display: inline-block;
  padding: 8px;
  background-color: #31634A;
  margin: 0.5em 0.5em 0 0;
  color: white;
  transition: 200ms; }
  .portfolio__example a:hover {
    background-color: #449363; }
  .portfolio__example a.march-madness {
    position: relative; }
    .portfolio__example a.march-madness:before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      display: block;
      width: 0;
      height: 0;
      margin: auto;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid #449363;
      opacity: 0;
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
      transition: 300ms; }
    .portfolio__example a.march-madness:after {
      content: 'My coworker thought he could beat me in the office March Madness bracket. Here\'s how it turned out.';
      position: absolute;
      bottom: calc(100% + 10px);
      left: -50%;
      right: -50%;
      display: block;
      width: 250px;
      margin: 0 auto;
      padding: 8px;
      text-align: center;
      font-size: 86%;
      opacity: 0;
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
      z-index: -1;
      transition: opacity 300ms 0ms, z-index 300ms 300ms, -webkit-transform 300ms 0ms;
      transition: opacity 300ms 0ms, transform 300ms 0ms, z-index 300ms 300ms;
      transition: opacity 300ms 0ms, transform 300ms 0ms, z-index 300ms 300ms, -webkit-transform 300ms 0ms;
      background-color: #449363; }
    .portfolio__example a.march-madness:hover:before, .portfolio__example a.march-madness:hover:after {
      z-index: 20;
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      transition: opacity 300ms 300ms, z-index 300ms 0ms, -webkit-transform 300ms 300ms;
      transition: opacity 300ms 300ms, transform 300ms 300ms, z-index 300ms 0ms;
      transition: opacity 300ms 300ms, transform 300ms 300ms, z-index 300ms 0ms, -webkit-transform 300ms 300ms; }

@media only screen and (max-width: 800px) {
  .portfolio__single {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .portfolio__job {
    width: 100%; }
  .portfolio__description {
    width: 100%; }
    .portfolio__description h3 {
      margin-top: 1.5em; }
      .portfolio__description h3:first-of-type {
        margin-top: 1.5em; }
  .portfolio__example a.march-madness:after {
    left: 0;
    right: 0;
    width: 150px; } }

/*------------------------------------*    ::pocket feed
\*------------------------------------*/
/*------------------------------------*    ::footer
\*------------------------------------*/
.main-foot {
  background-color: #31634A;
  color: white;
  margin-top: 2em;
  padding: 2em 0 3.5em; }

.contact__blurb {
  margin: 2em 0; }
  .contact__blurb a {
    position: relative;
    color: #9ed2b2; }
    .contact__blurb a:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0;
      height: 1px;
      transition: 200ms;
      background-color: #9ed2b2; }
    .contact__blurb a:hover:after {
      width: 100%; }

.contact__links a {
  display: inline-block;
  margin: 0 0.5em;
  padding: 5px; }
  .contact__links a:hover svg {
    fill: #9ed2b2; }

.contact__links svg {
  fill: white;
  width: 30px;
  height: 30px;
  transition: 300ms; }

.contact__links span {
  display: inline-block;
  text-indent: -9999px; }
