/*------------------------------------*    ::Font
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700");
/*------------------------------------*    ::Variables
\*------------------------------------*/
/*------------------------------------*    ::Base
\*------------------------------------*/
*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0;
  padding: 0;
  color: #2F2F2F;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: .02em; }

a {
  text-decoration: none;
  color: #2F2F2F; }

img {
  max-width: 100%;
  height: auto; }

svg {
  width: 100px;
  height: 100px; }

/*------------------------------------*    ::Headings
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

/*implement:*/
/*implement:*/
/*------------------------------------*    ::Main
\*------------------------------------*/
[class*=__inner] {
  max-width: 1140px;
  margin: auto;
  padding: 0.9375rem; }

[class*=__title] {
  margin-top: 2em;
  font-weight: bold;
  color: #31634A; }

/*------------------------------------*    ::Header
\*------------------------------------*/
.main-head {
  position: relative;
  overflow: hidden;
  background-color: #449363;
  color: white; }
  .main-head:before {
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    left: 58%;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 42%;
    background-color: #31634A; }
  .main-head:after {
    content: 'corinne';
    position: absolute;
    z-index: 15;
    left: 0;
    right: 0;
    bottom: -300px;
    font-weight: bold;
    color: #34704c;
    opacity: 0.5;
    font-size: 50vw; }
  .main-head__inner {
    position: relative;
    z-index: 20; }
  .main-head__nav a {
    position: relative;
    display: inline-block;
    margin: 0.46875rem;
    padding: 0.46875rem;
    color: white; }
    .main-head__nav a:first-child {
      margin-left: 0;
      padding-left: 0; }
    .main-head__nav a:before, .main-head__nav a:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 0px;
      background-color: white;
      transition: 250ms; }
    .main-head__nav a:before {
      top: 0;
      left: 0; }
    .main-head__nav a:after {
      bottom: 0;
      right: 0; }
    .main-head__nav a:hover:before, .main-head__nav a:hover:after {
      width: 100%; }
  .main-head__intro {
    width: 50%;
    margin: 7em 0 6em; }
    .main-head__intro h2 {
      font-weight: normal; }
    .main-head__intro h3 {
      font-weight: normal; }

/*------------------------------------*    ::skils
\*------------------------------------*/
.skills__wrap {
  display: flex; }

.skills__col {
  width: 49.89%; }

/*------------------------------------*    ::portfolio/experience
\*------------------------------------*/
.portfolio__single {
  display: flex;
  margin: 2em 0;
  padding: 0.9375rem 0 1.875rem;
  border-bottom: 1px solid rgba(47, 47, 47, 0.18); }
  .portfolio__single h3 {
    margin: 0;
    font-weight: 400; }
  .portfolio__single p {
    margin: 0.75em 0; }

.portfolio__job {
  width: 25%; }

.portfolio__description {
  width: 70%;
  margin-left: auto;
  margin-right: 50px; }
  .portfolio__description h3 {
    margin-top: 1.5em; }
    .portfolio__description h3:first-of-type {
      margin-top: 0; }

.portfolio__example a {
  display: inline-block;
  padding: 8px;
  background-color: #31634A;
  margin: 0.5em 0.5em 0 0;
  color: white;
  transition: 200ms; }
  .portfolio__example a:hover {
    background-color: #449363; }
  .portfolio__example a.march-madness {
    position: relative; }
    .portfolio__example a.march-madness:before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      display: block;
      width: 0;
      height: 0;
      margin: auto;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid #449363;
      opacity: 0;
      transform: translateY(15px);
      transition: 300ms; }
    .portfolio__example a.march-madness:after {
      content: 'My coworker thought he could beat me in the office March Madness bracket. Here\'s how it turned out.';
      position: absolute;
      bottom: calc(100% + 10px);
      left: -50%;
      right: -50%;
      display: block;
      width: 250px;
      margin: 0 auto;
      padding: 8px;
      text-align: center;
      font-size: 86%;
      opacity: 0;
      transform: translateY(15px);
      transition: 300ms;
      background-color: #449363; }
    .portfolio__example a.march-madness:hover:before, .portfolio__example a.march-madness:hover:after {
      opacity: 1;
      transform: translateY(0px); }

/*------------------------------------*    ::pocket feed
\*------------------------------------*/
/*------------------------------------*    ::footer
\*------------------------------------*/
.main-foot {
  background-color: #31634A;
  color: white;
  margin-top: 2em;
  padding: 2em 0 3.5em; }

.contact__blurb {
  margin: 2em 0; }
  .contact__blurb a {
    position: relative;
    color: #9ed2b2; }
    .contact__blurb a:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0;
      height: 1px;
      transition: 200ms;
      background-color: #9ed2b2; }
    .contact__blurb a:hover:after {
      width: 100%; }

.contact__links a {
  display: inline-block;
  margin: 0 0.5em;
  padding: 5px; }
  .contact__links a:hover svg {
    fill: #9ed2b2; }

.contact__links svg {
  fill: white;
  width: 30px;
  height: 30px;
  transition: 300ms; }

.contact__links span {
  display: inline-block;
  text-indent: -9999px; }
